﻿@model EmployeesWebApp.Employee
@{
    ViewBag.Title = "Create New Employee";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName)
                @Html.ValidationMessageFor(model => model.DepartmentName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Basic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Basic)
                @Html.ValidationMessageFor(model => model.Basic)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DA)
                @Html.ValidationMessageFor(model => model.DA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HRA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HRA)
                @Html.ValidationMessageFor(model => model.HRA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetSalary,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetSalary)
                @Html.ValidationMessageFor(model => model.NetSalary)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


