﻿@model EmployeesWebApp.Employee
@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    @using (Html.BeginForm("DeleteConfirmed", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(e => e.Id)

        <hr />
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DepartmentName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Basic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Basic)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DA)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DA)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HRA)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HRA)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NetSalary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NetSalary)
            </dd>

        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            
        </div>
    }
</div>