﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our Employees</h1>
    <p class="lead">
        This Web applications allows you to see full list of our employees,
        add new ones or update saved information.
    </p>
    <p class="lead">
        To see full list of our employees click "List" button.
    </p>
    <p><a href="/Home/List" class="btn btn-primary btn-lg">List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create</h2>
        <p>
            To add information about a new employee click "Create" button.
        </p>
        <p><a class="btn btn-default" href="/Home/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update</h2>
        <p>To change or update previously saved information for our imlployees click "Update" button.</p>
        <p><a class="btn btn-default" href="/Home/List">Update &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete</h2>
        <p>To delete an employee from our list click "Delete" button. </p>
        <p><a class="btn btn-default" href="/Home/List">Delete &raquo;</a></p>
    </div>
</div>