﻿@model IEnumerable<EmployeesWebApp.Employee>
@{
    ViewBag.Title = "Full List of our Employees";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<div class="row">

    <p><a class="btn btn-default" href="/Home/List">Delete &raquo;</a></p>

</div>*@


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Basic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetSalary)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Basic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HRA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NetSalary)
    </td>
    <td>
        @Html.ActionLink("Update", "EditEmployee", new { Id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
    </td>
</tr>
    }
</table>

