﻿@using EmployeeWA.Repo
@model Employee

@{
    ViewBag.Title = "Create New Employee";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    .field-validation-error {
    color: orangered;
    font-weight: bolder;
}
  
input.input-validation-error {
    border: 2px solid orangered;
}
input.valid {
    border: 2px solid green;
}
 
.validation-summary-errors {
    color: firebrick;
     font-weight: bolder;
}
</style>
@using (Html.BeginForm())
{
 <div asp-validation-summary=All></div>
    <div class="form-horizontal">
        
        <hr />
       @* @Html.ValidationSummary(true)*@
      

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
                @* <span asp-validation-for="FirstName" />*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName)
                @Html.ValidationMessageFor(model => model.DepartmentName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Basic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Basic)
                @Html.ValidationMessageFor(model => model.Basic)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DA)
                @Html.ValidationMessageFor(model => model.DA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HRA, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HRA)
                @Html.ValidationMessageFor(model => model.HRA)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NetSalary,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetSalary)
                @Html.ValidationMessageFor(model => model.NetSalary)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WebUrl,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WebUrl)
                @Html.ValidationMessageFor(model => model.WebUrl)
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

}


