﻿@using EmployeeWA
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel


@{
    ViewBag.Title = "Full List of our Employees";
}
@{ViewBag.Message = "If you would like to delete an employee click Delete. " +
                "If you would like to edit information about an employee click Update";}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

@*<div class="row">

    <p><a class="btn btn-default" href="/Home/List">Delete &raquo;</a></p>

</div>*@

<form asp-action = "List" method="get">
    <div >
        <input type="text" name="searchString" value="@ViewData[ViewBag.CurrentFilter]" />
           
        <input type="submit" value="Search" />
        <a asp-action="List"> Back to full list</a>
    </div>
</form>


<table class="table">
    <tr>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.FirstNameSort">
            FirstName
            </a>
        </th>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.LastNameSort">
            LastName
            </a>
        </th>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.DepartmentNameSort">
            DepartmentName
            </a>
        </th>
        <th>
            Basic
        </th>
        <th>
            DA
        </th>
        <th>
            HRA
        </th>
        <th>
            NetSalary
        </th>
         <th>
            Email
        </th>
        <th>
            WebUrl
        </th>
        <th>
            PhoneNumber
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Employees)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Basic)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HRA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NetSalary)
    </td>
     <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WebUrl)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.ActionLink("Update", "EditEmployee", new { Id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
    </td>
</tr>
    }
</table>
<p>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="glyphicon glyphicon-chevron-left">
        Back
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="List"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="glyphicon glyphicon-chevron-right">
        Forward
    </a>
}
</p>
